<div>
    <h2 id="page-heading">
        <span jhiTranslate="dirversityApp.contentModule.home.title">Content Modules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-content-module" [routerLink]="['/content-module/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dirversityApp.contentModule.home.createLabel">
            Create a new Content Module
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="contentModules?.length === 0">
        <span jhiTranslate="dirversityApp.contentModule.home.notFound">No contentModules found</span>
    </div>
    <div class="table-responsive" *ngIf="contentModules?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="dirversityApp.contentModule.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="order"><span jhiTranslate="dirversityApp.contentModule.order">Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="dirversityApp.contentModule.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="curriculumName"><span jhiTranslate="dirversityApp.contentModule.curriculum">Curriculum</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contentModule of contentModules ;trackBy: trackId">
                <td><a [routerLink]="['/content-module', contentModule.id, 'view' ]">{{contentModule.id}}</a></td>
                <td>{{contentModule.name}}</td>
                <td>{{contentModule.order}}</td>
                <td>{{contentModule.description}}</td>
                <td>
                    <div *ngIf="contentModule.curriculumId">
                        <a [routerLink]="['/curriculum', contentModule.curriculumId , 'view' ]" >{{contentModule.curriculumName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/content-module', contentModule.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/content-module', contentModule.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/content-module', { outlets: { popup: contentModule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="contentModules?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
