<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userGroup">
            <h2><span jhiTranslate="dirversityApp.userGroup.detail.title">User Group</span> {{userGroup.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dirversityApp.userGroup.name">Name</span></dt>
                <dd>
                    <span>{{userGroup.name}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.userGroup.userGroupType">User Group Type</span></dt>
                <dd>
                    <div *ngIf="userGroup.userGroupTypeId">
                        <a [routerLink]="['/user-group-type', userGroup.userGroupTypeId, 'view']">{{userGroup.userGroupTypeName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="dirversityApp.userGroup.users">Users</span></dt>
                <dd>
                    <div class="alert alert-warning" *ngIf="userGroup.users?.length === 0">
                        <span jhiTranslate="userManagement.home.notFound">No Users found</span>
                    </div>
                    <div class="table-responsive" *ngIf="userGroup.users?.length > 0">
                        <table class="table table-striped" aria-describedby="page-heading">
                            <thead>
                            <tr>
                                <th scope="col"><span jhiTranslate="userManagement.login">Login</span></th>
                                <th scope="col"><span jhiTranslate="userManagement.name">Name</span></th>
                                <th scope="col"><span jhiTranslate="userManagement.email">Email</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of userGroup.users">
                                <td>
                                    <a [routerLink]="['/admin/user-management/', user?.login, 'view']">
                                        {{user.login}}
                                    </a>
                                </td>
                                <td><span>{{user.firstName}} {{user.lastName}}</span></td>
                                <td><span>{{user.email}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-group', userGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
