<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="email">
            <h2><span jhiTranslate="dirversityApp.email.detail.title">Email</span> {{email.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <jhi-alert></jhi-alert>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dirversityApp.email.body">Body</span></dt>
                <dd>
                    <span>{{email.body}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.title">Title</span></dt>
                <dd>
                    <span>{{email.title}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.langKey">Language</span></dt>
                <dd>
                    <span>{{email.langKey}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.shareDateTime">Share Date Time</span></dt>
                <dd>
                    <span>{{email.shareDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.createdBy">Created By</span></dt>
                <dd>
                    <span>{{email.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{email.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{email.lastModifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{email.lastModifiedDate}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.toUsers">To Users</span></dt>
                <dd>
                    <span *ngFor="let toUsers of email.toUsers; let last = last">
                        {{toUsers.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.ccUsers">Cc Users</span></dt>
                <dd>
                    <span *ngFor="let ccUsers of email.ccUsers; let last = last">
                        {{ccUsers.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.toUsersGroups">To Users Groups</span></dt>
                <dd>
                    <span *ngFor="let toUsersGroups of email.toUsersGroups; let last = last">
                        <a [routerLink]="['/user-group', toUsersGroups?.id, 'view' ]">{{toUsersGroups.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.ccUserGroups">Cc User Groups</span></dt>
                <dd>
                    <span *ngFor="let ccUserGroups of email.ccUserGroups; let last = last">
                        <a [routerLink]="['/user-group', ccUserGroups?.id, 'view' ]">{{ccUserGroups.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.email.resources">Resources</span></dt>
                <dd>
                    <span *ngFor="let resources of email.resources; let last = last">
                        <a [routerLink]="['/resource', resources?.id, 'view' ]">{{resources.name}}</a>{{last ? '' : ', '}}
                        <br>
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/email', email.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

            <button type="button"
                    (click)="sendEmail(email.id)"
                    class="btn btn-primary">
                <fa-icon [icon]="'envelope'"></fa-icon>&nbsp;<span jhiTranslate="dirversityApp.email.sendEmail">Send Email</span>
            </button>
        </div>
    </div>
</div>
