<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rule">
            <h2><span jhiTranslate="dirversityApp.rule.detail.title">Rule</span> {{rule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dirversityApp.rule.name">Name</span></dt>
                <dd>
                    <span>{{rule.name}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.rule.accessType">Access Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'dirversityApp.AccessType.' + rule.accessType}}">{{rule.accessType}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.rule.from">From</span></dt>
                <dd>
                    <span>{{rule.from}}</span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.rule.users">Users</span></dt>
                <dd>
                    <span *ngFor="let users of rule.users; let last = last">
                        {{users.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="dirversityApp.rule.userGroups">User Groups</span></dt>
                <dd>
                    <span *ngFor="let userGroups of rule.userGroups; let last = last">
                        <a [routerLink]="['/user-group', userGroups?.id, 'view' ]">{{userGroups.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rule', rule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
