<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <title th:text="#{email.resource.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.resource.text1}">
    This resources were shared with you.
</p>
<p>
    <span th:text="${body}"></span>
</p>
<p>
    <tr th:each="resource: ${resources}">
        <td th:text="${resource.name}"/>
        <td th:text="${resource.accessUrl}"/>
    </tr>
</p>
<p>
    <span th:text="#{email.resource.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Dirversity Team.</em>
</p>
</body>
</html>
