<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <p class="lead" jhiTranslate="home.authenticated.subtitle">Welcome to Dirversity.</p>

                <div class="alert alert-success">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}
                    ".</span>
                </div>
            </div>

            <div *ngSwitchCase="false">
                <p class="lead">
                    <span jhiTranslate="home.unauthenticated.subtitle">Welcome to Dirversity.</span><br>
                    <span class="lead" jhiTranslate="home.unauthenticated.subtitle2">
                        Please login or register for a new account
                    </span>
                </p>
                <button type="button" (click)="login()" class="btn btn-primary">
                    <fa-icon [icon]="'sign-in-alt'"></fa-icon>&nbsp;<span
                    jhiTranslate="global.messages.info.authenticated.link">Sign in</span>
                </button>

                <button type="button" routerLink="account/register" class="btn btn-primary">
                    <fa-icon [icon]="'user-plus'"></fa-icon>&nbsp;<span
                    jhiTranslate="global.messages.info.register.link">Register a new account</span>
                </button>
            </div>
        </div>


        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <h5>
                <span jhiTranslate="home.fastNavigation">Fast navigation:</span>
            </h5>
            <ul>
                <li><a routerLink="resource"><span jhiTranslate="global.menu.entities.resource">Resource</span></a>
                </li>
                <li><a routerLink="resource/new"><span jhiTranslate="dirversityApp.resource.home.createLabel">Create a new Resource</span></a>
                </li>
                <li><a routerLink="admin/user-management"><span jhiTranslate="global.menu.admin.userManagement">User management</span></a>
                </li>
                <li><a routerLink="admin/user-management/new"><span jhiTranslate="userManagement.home.createLabel">Create a new User</span></a>
                </li>
                <li><a routerLink="/curriculum/new"><span jhiTranslate="dirversityApp.curriculum.home.createLabel">Create a new Curriculum</span></a>
                </li>
            </ul>
        </div>
    </div>

</div>
